<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.page}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
<body>
<div style="text-align: right">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-sm">log out</button>
    </form>
    <p class="pr-2">
        <a th:href="@{/(language=en_US)}">
            <span>en</span>
        </a>
        <span>/</span>
        <a th:href="@{/(language=ru_RU)}">
            <span>ru</span>
        </a>
    </p>
    <a href="/rest" class="pr-2">Version with JS</a>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{car.model}"></th>
            <th th:text="#{brand}"></th>
            <th th:text="#{action}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car :${cars}">
            <td th:text="${car.name}"></td>
            <td th:text="${car.brand.name}"></td>
            <td><a th:href="@{/edit-car-model/{id}(id = ${car.id})}" th:text="#{edit}"></a></td>
            <td>
                <form th:method="delete" th:action="@{/del-car-model/{id}(id = ${car.getId()})}">
                    <button class="btn btn-sm btn-danger" type="submit">&times;</button>
                </form>
            </td>
        </tr>
        <form th:action="@{/add-car-model}" method="post" th:object="${carModel}">
            <tr>
                <td>
                    <input type="text" maxlength="75" class="form-control" name="name" id="name" th:field="*{name}" required>
                </td>
                <td>
                    <select class="form-control" th:field="*{brand}">
                        <option th:each="brand :${brands}" th:text="${brand.name}" th:value="${brand.id}"></option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-sm btn-success" type="submit" th:text="#{add}"></button>
                </td>
            </tr>
        </form>
        </tbody>
    </table>
</div>
</body>
</html>