<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rest page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.4.0.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div style="text-align: right">
    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn btn-sm">log out</button>
    </form>
    <a href="/">Version without JS</a>
</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>Car model</th>
            <th>Brand</th>
            <th>Action</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tbodyCarModel">

        </tbody>
    </table>
</div>
<div class="modal fade" id="editCarModelModal" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <input type="text" class="form-control" id="editName">
                <input type="hidden" class="form-control" id="editId">
                <select id="editBrand" class="form-control mt-1"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editCarModel()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script>

</script>
</body>
</html>